.toast{ 
    display: flex;
    align-items: center;
    background-color:#fff;
    border-radius: 2px;
    padding: 20px 0;
    border-left: 4px solid ;
    min-width: 400px;
    max-width: 450px;
    animation: slideInLeft ease 0.3s, fadeout linear 1s 3s forwards;
    box-shadow: 0 5px 8px rgba( 0 , 0, 0, 0.08);
} 
@keyframes slideInLeft {
    from{
     
        transform: translateX(calc(100% + 32px));
    }
    to {
        transform: translateX(0);
    }
}
@keyframes fadeout {
    to {
        opacity: 0;
    }
}
.toast--success{
      border-color: #47d864;
}

.toast--success .toast__icon{
    color: #47d864;
}
.toast--info{
    border-color:#2fa6eb;

}
.toast--info .toast__icon{
    color: #2fa6eb;
}

.toast--warning{
    border-color:#ffc821;
}
.toast--warning .toast__icon{
    color:#ffc821 ;
}
.toast--error{
    border-color:#ff623d;
    
}
.toast--error .toast__icon{
    color:#ff623d;
}
.toast + .toast{
    margin-top:24px;
}
.toast__icon{
    font-size: 24px;
    cursor: pointer;
}
.toast__icon,
.toast__close{
    padding: 0 16px;
}

.toast__title{
    fontsize: 16px;
    color: #333;
}

.toast__msg{
    fontsize: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}
.toast__body{
flex-grow: 1;
}
.toast__close{
    font-size: 20px;
    color: rgba( 0 , 0, 0, 0.03)
}

#toast{
    position:fixed;
    top:32px;
    right: 32px;
}
.btn{
    display:inline-block ;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 30px;
    border-radius:50px;
    cursor: pointer;
    min-width: 120px;
   transition: opacity 0.2s  ;

}
.btn--success{
    background-color:#71be34;
}
.btn--error{
    background-color: #ff623d ;
    }